import {<tmp_ModelName>Collection as <tmp_ModelName>CollectionBase} from './base/index';

export class <tmp_ModelName>Collection extends <tmp_ModelName>CollectionBase {
	constructor(){
		super();
		super.init(this, <tmp_ModelName>Collection);
		return this;
	}
}